@model BookVM

@{
    ViewData["Title"] = "Details";
}

@section header  {
    Book
}
@section headerBreadcrumb1 {
    Book
}
@section headerBreadcrumb2 {
    Details
}

@{
    var bookCategories = @ViewData["BookCategories"] as List<Library.DAL.Models.BookCategory>;
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4 bg-primary text-light p-2 text-center ">Details</h4>
            <div class="row mb-5">
                <div class="col-lg-6 col-md-12 flex-column">
                    <h5 class="mb-4">Title : @Model.Title</h5>

                    <div class="d-flex gap-2 flex-wrap">
                        <p>Description : </p>

                        @Html.Raw(Model.Description)
                    </div>

                    <p>Author : @Model.Author</p>

                    <p>ISBN : @Model.ISBN</p>

                    <p>Publication Date : @Model.PublicationDate</p>

                    <p>
                        Categories :
                        @Html.Raw(string.Join(" , ", bookCategories
                        .Where(bc => bc.BookId == Model.Id)
                        .Select(category => category.category.Name)))
                    </p>

                </div>
                <div class="col-lg-6 col-md-12">
                    <img src="~/files/images/@(Model.Img)" alt="book img" style="width:100%" />
                </div>
            </div>

            <embed src="~/files/books/@(Model.File)"
                   type="application/pdf"
                   frameBorder="0"
                   scrolling="auto"
                   height="700"
                   width="100%">
            </embed>

        </div>
    </div>
</div>