@model Library.PL.Areas.Dashboard.ViewModels.UserVM

@{
    ViewData["Title"] = "Profile";
}

<div class="col-12 grid-margin stretch-card my-5 py-5 container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4 bg-primary text-light p-2 text-center ">Profile</h4>
            <div class="d-flex justify-content-around mb-4">

                <div class="d-flex flex-column">
                    <p class="mb-4"><span class="fw-bold">Name :</span> @Model.UserName</p>
                    <p><span class="fw-bold">Email :</span> @Model.Email</p>
                    <p><span class="fw-bold">Address :</span> @Model.Address</p>
                    <p><span class="fw-bold">Phone Number :</span> @Model.PhoneNumber</p>

                    <p><span class="fw-bold">Created At :</span> @Model.CreatedAt</p>

                    <p><span class="fw-bold">Status :</span> @(Model.IsDeleted ? "Deleted" : "Actvie")</p>

                </div>
                <img src="~/files/users/@Model.Img" alt="user img" width="400" height="250" />
            </div>


        </div>
    </div>
</div>